<%- include('partials/header') -%>
<h1>All Posts</h1>

<a class="submit-btns" href="/posts/newPost">Create New Post</a>

<% post.forEach(post => { %>
<div class="post">
  <h2 data-id="<%= post._id %>">
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
  </h2>

  <div class="short-content">
    <%const words = post.content.split(/\s+/); const isLong = words.length > 25;
    %>

    <p>
      <%= isLong ? words.slice(0, 25).join(" ") + "..." : post.content %> <% if
      (isLong) { %>
      <a href="/posts/<%= post._id %>">more</a>
      <% } %>
    </p>
  </div>

  <% if(post.image) { %>
  <div class="image-container">
    <img class="post-image" src="<%= post.image %>" alt="image" />
  </div>
  <% } %>
  <p>By <%= post.author %> - <%= post.createdAt.toDateString() %></p>
  <% if(user && post.userId === user.id) { %>
  <a href="/posts/<%= post._id %>/edit">Edit</a>
  <% } %> <% if(user && post.userId === user.id) { %>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <% } %>
</div>
<% }) %>

<a class="submit-btns" href="/logout">Logout</a>
<%- include('partials/footer') -%>
